html(lang="en-US")
  head
    title="Voter's Guide"
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
    link(rel='icon', type='image/png', href='favicon.ico')
    link(rel='apple-touch-icon', href='apple-touch-icon-72×72-precomposed.png')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    script(src='https://fb.me/react-0.13.3.js')
    script(src='https://fb.me/JSXTransformer-0.13.3.js')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    link(href='/css/app.scss', rel='stylesheet')

  body
    div.container
      h1 Voter's Guide 2016
      
      div(class="row")
        div(id="candidates-container" class="col-md-6 col-xs-12")
          h2="Candidates"
          div(id="candidates")
        div(id="measures-container" class="col-md-6 col-xs-12")
          h2="Measures"
          div(id="measures")
    block content
    script(src='/js/build/measures.js')
    script(src='/js/build/candidates.js')
    script(src='/js/build/app.js' type="text/jsx")
