body {
  background: #fefefe;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: #111111; }

h2 {
  font-weight: 700; }

p {
  font-size: 16px; }

a, a:visited {
  text-decoration: none;
  color: #2e3042; }

a:active, a:hover {
  color: #626368;
  text-decoration: none; }

.set-item {
  margin-bottom: 40px; }
  .set-item .contest {
    font-size: 1.4em; }

.set-item[type="measure"] .ballot-section {
  background-color: #9a9ba5;
  font-size: 0.7em;
  color: #fefefe;
  padding: 2px 4px;
  text-transform: uppercase; }
.set-item[type="measure"] .name {
  font-size: 1.4em; }
.set-item[type="measure"] .measure-topic {
  font-size: 2.8em;
  line-height: 1em; }
.set-item[type="measure"] .measure-type {
  margin-top: 5px;
  font-size: 1.4em;
  color: #38383a; }
.set-item[type="measure"] .description {
  margin-top: 10px; }
.set-item[type="measure"] a, .set-item[type="measure"] a:visited {
  font-weight: 700;
  text-align: right; }
.set-item[type="measure"] a:active, .set-item[type="measure"] a:hover {
  color: #626368;
  text-decoration: none; }

.set-item[type="candidate"] .name {
  font-size: 2.8em; }
.set-item[type="candidate"] .party {
  font-size: 0.7em;
  color: #fefefe;
  padding: 2px 4px; }
.set-item[type="candidate"] .party[type="party-type-D"] {
  background-color: #2e4399; }
.set-item[type="candidate"] .party[type="party-type-R"] {
  background-color: #a82f22; }
