
$font-family: 'Raleway', sans-serif;

$default-font-size: 14px;
$font-size-large: 1.2em;
$font-size-XL: 2em;
$font-size-regular: 1.0em;
$font-size-small: 0.8em;
$font-size-XS: 0.6em;
$font-weight-bold: 700;
$font-weight-ultrabold: 900;
$font-weight-normal: 400;
$font-weight-light: 100;

$color-offwhite:  #FEFEFE;

$body-background: $color-offwhite;

$color-party-democrat: #2E4399;
$color-party-republican: #A82F22;
$color-party-other: gray;
$color-dark-text: #111111;
$color-dark-grey-text: #38383A;
$color-medium-text: #626368;
$color-light-text: #AAADBC;

