@import "common";

body { 
  background: $body-background;
  font-size: $default-font-size;
  font-family: $font-family;
  color: $color-dark-text;
}

h2 {
  font-weight: $font-weight-bold;
}

p {
  font-size: $default-font-size;
}

a,a:visited {
  text-decoration: none;
  color: $color-highlight-text;
}

a:active,a:hover {
  color: $color-medium-text;
  text-decoration: none;
}


.set-item {
  margin-bottom: 40px;

  .contest {
    font-size: $font-size-large;
  }
}

.set-item[type="measure"] {

  .ballot-section {
    background-color: $color-light-medium-grey;
    font-size: $font-size-XS;
    color: $color-offwhite;
    padding: 2px 4px;
    text-transform: uppercase;
    line-height: 1em;
    height: 1.3em;
  }
  .name {
    margin-top: 20px;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }

  .measure-topic {
    font-size: $font-size-XL;
    line-height: 1em;
  }

  .measure-type{
    margin-top: 10px;
    font-size: $font-size-large;
    color: $color-dark-grey-text;
    line-height: 1em;
  }

  .description {
    margin-top: 10px;
  }

  a,a:visited  {
    text-align: right;
  }

  a:active,a:hover {
    color: $color-medium-text;
    text-decoration: none;
  }


}
.set-item[type="candidate"] {

  .name {
    font-size: $font-size-XL;
    line-height: 1em;
  }

  .party {
    font-size: $font-size-XS;
    color: $color-offwhite;
    padding: 2px 4px;
    background-color: $color-light-medium-grey;
    line-height: 1em;
    height: 1.3em;
  }

  .party[type="party-type-D"] {
    background-color: $color-party-democrat;
  }

  .party[type="party-type-R"] {
    background-color: $color-party-republican;
  }



  .vote {

  }

}
